.heading {
	font-family: $ffc;
	margin: auto;
	max-width: 90%;
	padding: 3rem 5rem;
	@media only screen and (min-width: 600px) {
		background-color: $blc;
		padding: 2rem 20rem 8rem;
		max-width: 120rem;
	}
}
.heading--title {
	font-size: 2.2rem;
	font-weight: 700;

	@media only screen and (min-width: 600px) {
		font-size: 4rem;
		margin: 0;
		padding-top: 2rem;
	}
}
.heading--subtitle {
	color: $fsc;
	font-size: 1.2rem;
	font-weight: 700;

	@media only screen and (min-width: 600px) {
		font-size: 1.6rem;
		margin: 0;
		padding-top: 2rem;
	}
}
.heading--text {
	font-size: 1.2rem;
	margin: 0;
	padding-top: 1rem;
	@media only screen and (min-width: 600px) {
		font-size: 1.6rem;
		margin: 0;
		padding-top: 2rem;
	}
}
